/* this is setting a specific font family for the whole webpage. */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* this is setting a specific background color for the webpage. */
html {
    background-color: rgb(180, 180, 180);
}
/* This is setting the margins for the h1 heading in the body to 0. */
body,h1 {
    margin: 0;
}

/* this is setting specifications for the width, height, line-height, and positioning of the header section
    It is also applying a background color and font color.*/
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: sticky; 
    color: #f0ead6;
    background-color: #0072bb;
  }

/* This is setting the font size of the heading within the header to a size of 48pixels, applying
    a padding and a top margin to 15pixels and -10pixels, respectively, and displaying it 
    inline with the rest of the content within the header container. */
header h1 {
    display: inline-block;
    font-size: 48px;
    padding-top: 15px;
    margin-top: -10px;
}

/* this is setting the links in the header to the right side of the header container,
    applying a padding, a top margin, and a right margin to 15pixels and -10pixels, 
    and 20pixels, respectively; it is also making the font bold, a size of 20pixels, 
    and an off-white color.*/
header nav {
    padding-top: 15px;
    margin-top: -10px;
    margin-right: 20px;
    float: right;
    font-weight: bold;
    font-size: 20px;
    color: #f0ead6;
}

/* This is displaying the list of links inline with one another and applying no text decorations. */
header ul {
    list-style-type: none;
    display: inline;
}

/* Displaying the list items inline with one another and applying a left margin of 25pixels to each of them. */
header ul li {
    display: inline;
    margin-left: 25px;
}

/* This is applying a specific color to the links within the header and applying no text decoration. */
a {
    color: #f0ead6;
    text-decoration: none;
}

/* This is changing the color os the links in the header when the cursor hovers over them.*/
a:hover {
    color: #fff;
}

/* This class is floating the image in the header to the left of the text, setting a max width and height, 
    rounding the corners of the image and applying no border, and setting the all-around margins to 1%. */
.header-image {
    float: left;
    margin: 1%;
    width: auto;
    height:auto;
    max-width: 80px;
    max-height: 80px;
    border-style: none;
    border-radius: 50px;
}

/* This is applying an underline and a bottom margin for the h2 link.*/
h2 a {
    color: black;
    text-decoration: underline;
    margin-bottom: 3%;
}


  
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
  /* Clear floats after the columns */
.educationRow:after {
    content: "";
    display: table;
    clear: both;
  }

/* This is applying a max width and height to all the images in the section tags, 
    giving them no borders, spacing them evenly within the container, 
    and giving them a right and left margins of 1%.*/
section img {
    width: auto;
    height:auto;
    max-width: 25%;
    max-height: 25%;
    border-style: none;
    justify-content: space-between;
    margin-left: 1%; 
    margin-right: 1%;
}

/* This class is displaying the images within the section tags in a row and providing
    them with a bottom margin of 3%. */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

/* This is setting the footer to take up the full size of the footer-container, setting the line-height to 100pixels
    making the text bold and aligning it to the right, giving the background and font specific colors,
    and applying a right-padding of 2.*/
footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: #f0ead6;
    background-color: #0072bb;
    text-align: right;
    font-weight: bold;
    padding-right: 2%;
}
  
/* This class is aligning the content within the footer container into an evenly spaced row and
    centering the content vertically.*/
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      
}

/* This is giving the heading within the footer an all-around margin of 2%.*/
footer h3 {
    margin: 2%;
}

/* This is setting the text of the paragraph tag within the footer to a size of 85%.*/
footer p {
    font-size: 85%;
}
/* THis media query is adjusting the layout of the page to stack in a single column 
    when the width of the screen is below 768pixels. */

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      /* Caption of Modal Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
        main,
        nav {
          flex-direction: column;
        }
}
    